body {
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 16px 128px;
    background-color: #1F2937;
    align-items: center;
}

.content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding:64px 128px;
    gap:16px;
}

.main {
    width: 350px;
    flex:1;
}

.image {
    display: flex;
    width:350px;
    height:220px;
    justify-content: center;
    align-items: center;
    color:#F9FAF8;
    background-color: gray;

}

.mainText{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.secText{
    color:#F9FAF8;
    margin-bottom:16px;
}

.btnSignUp1 {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    padding:4px 16px;
    font-weight: bold;
}

.btnSignUp1:hover {
    background-color: #38baf6;
}

.info{
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    gap:32px;
    padding:16px;
    min-height: 300px;
}

.random {
    color:#1F2937;
    font-size: 36px;
    font-weight: bold;
}

.illustrations {
    display: flex;
    flex-grow: 1;
    text-align: center;
    padding: 0 256px;
}

img{
    border: 2px solid #3882F6;
    min-height: 80px;
    min-width:80px;
    border-radius: 8px;
    margin-bottom: 8px;
    
}

.quote {
    display: flex;
    background-color:#E5E7EB;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    padding:0 256px;
    min-height: 400px;
}

.quoteText {
    font-size:36px;
    font-family: "light italic";
    color:#1F2937;
    width:600px;

}

.quoteText2 {
    font-size:24px;
    font-weight: bold;
    width:600px;
    text-align: right;
    
}



.signUp {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    min-height:250px
}

.signUp2{
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    padding: 32px 64px;
    gap:64px
}

.btnSignUp2 {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    padding:4px 16px;
    font-weight: bold;
}

.btnSignUp2:hover {
    background-color: #38baf6;
}

ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    gap:16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:32px;
    background-color: #1F2937;
    color:#F9FAF8;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}