body {
    margin:0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 16px 128px;
    background-color: #1F2937;
    align-items: center;
}

.content{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex:1;
    padding:128px 128px;
}

.main {
    width: 350px;
}

.image {
    width:350px;
    text-align: center;
    color:#F9FAF8;
    background-color: gray;
}

.mainText{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.secText{
    color:#F9FAF8;
    margin-bottom:16px;
}

.btnSignUp1 {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    padding:4px 16px;
    font-weight: bold;
}

.btnSignUp1:hover {
    background-color: #38baf6;
}

.info{
    display: flex;
    flex-direction: column;
    flex:1;
}

.quote {
    display: flex;
    background-color:#E5E7EB;
    flex-direction: column;
    flex:1;
    justify-content: center;
    align-items: center;
    padding:0 256px;
}

.quoteText {
    font-size:36px;
    font-family: "light italic";
    color:#1F2937;
    width:600px;

}

.quoteText2 {
    font-size:24px;
    font-weight: bold;
    width:600px;
    text-align: right;
    
}



.signUp {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.signUp2{
    background-color: #3882F6;
    border-radius: 8px;
}




ul{
    list-style-type: none;
    padding:0;
    margin:0;
    display: flex;
    gap:16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:32px;
    background-color: #1F2937;
    color:#F9FAF8;
}

.logo{
    font-size: 24px;
    color:#F9FAF8;
}